@import url('https://fonts.cdnfonts.com/css/1313-mockingbird-lane');
body{

  background-image: url(../imagenProyecto/verdeFotoDeFondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;

}

.fred{
 position: relative;
 width: 100%;
 height: 590px;
 background-image:url(../imagenProyecto/fondo\ de\ herman.jpg);
 background-size:cover;
 background-repeat:no-repeat;
 background-position:center top 10%;

}



  
.nombre-personaje{
   font-family: '1313 MockingbiRd Lane', sans-serif;
  font-size: 160px;
  line-height: 28px;
  color: #700d0d;
  /*text-shadow: 4px 4px 5px gold;*/
  text-shadow: 1px 1px 3px rgba(181, 191, 175, 0.5),
    4px 4px 5px rgba(201, 234, 14, 0.8);
  margin-bottom: 70px;
  opacity: 0;
  animation: entrar-desde-arriba 1s ease-out forwards;
  position:absolute;
  left: 29%;
  top: 250px;
  
}


@keyframes entrar-desde-arriba {
  0% {
    transform: translateY(-400px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }

}
#letraMunster-enlace {
  text-decoration: none;

}

#letraMunster:hover {
  /* border: transparent; */
  color: #034c04;
  cursor: pointer;

  
}

.side-img{
  position: absolute;
  top: 40px;
  width: 180px;
  height: auto;
  opacity: 0.95;
  z-index: 4;
  transition: transform 0.3s ease;
  filter: drop-shadow(0 8px 15px rgba(0, 0, 0, 0.5));
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.side-img-left {
  position: absolute;
  top: 204px;
  left: -220px; /* empieza fuera de la pantalla */
  width: 380px; /* ajusta si quieres más grande */
  height: auto;
  opacity: 0;
  z-index: 4;
  filter: drop-shadow(0 8px 15px rgba(0,0,0,0.5));
  animation: slideInLeft 1s forwards;
}

@keyframes slideInLeft {
  0% { left: -220px; opacity: 0; }
  100% { left: 25px; opacity: 1; } /* posición final */
}

.side-img-right {
  position: absolute;
  top: 115px;
  right: -220px; /* empieza fuera de la pantalla */
  width: 380px; /* más grande */
  height: auto;
  opacity: 0;
  z-index: 4;
  filter: drop-shadow(0 8px 15px rgba(0,0,0,0.5));
  animation: slideInRight 1s forwards;
}

@keyframes slideInRight {
  0% { right: -220px; opacity: 0; }
  100% { right: 90px; opacity: 1; } /* posición final */
}

/*tablet*/

@media (max-width: 1024px) {
  .nombre-personaje {
    font-size: 120px;
    left: 20%;
    top: 200px;
  }

  .side-img-left {
    width: 280px;
    left: 10px;
  }

  .side-img-right {
    width: 280px;
    right: 20px;
  }
}

/* Pantallas pequeña */

@media (max-width: 768px) {
  .fred {
    height: auto;
    padding-bottom: 80px;
  }

  .nombre-personaje {
    position: static;
    font-size: 80px;
    display: block;
    margin: 40px auto 20px;
    text-align: center;
  }

  .side-img-left,
  .side-img-right {
    position: static;
    display: block;
    margin: 20px auto;
    width: 70%;
    animation: none;
    opacity: 1;
  }
}


