@import url('https://fonts.cdnfonts.com/css/1313-mockingbird-lane');
body{

  background-image: url(../imagenProyecto/verdeFotoDeFondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;

}

.fred{
 position: relative;
 width: 100%;
 height: 590px;
 background-image:url(../imagenProyecto/fondo\ de\ herman.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position:center top 10%;
 image-rendering: auto;



}

.nombre-personaje{
   font-family: '1313 MockingbiRd Lane', sans-serif;
  font-size: 160px;
  line-height: 28px;
  margin-top: 6%;
  color: #700d0d;
  /*text-shadow: 4px 4px 5px gold;*/
  text-shadow: 1px 1px 3px rgba(181, 191, 175, 0.5),
    4px 4px 5px rgba(201, 234, 14, 0.8);
  margin-bottom: 70px;
  transform: translateX(-100%);
  animation: entrar-desde-arriba 1s ease-out forwards;
  position:absolute;
  left: 28%;
  top: 44%


  
}

@keyframes entrar-desde-arriba {
  0% {
    top: -100px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#letraMunster-enlace {
  text-decoration: none;

}

#letraMunster:hover {
  /* border: transparent; */
  color: #034c04;
  cursor: pointer;

  
}

