@import url('https://fonts.cdnfonts.com/css/1313-mockingbird-lane');

body{
    
    background-image: url(/imagenProyecto/verde10.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    text-align: center; 
}

    