@import url('https://fonts.cdnfonts.com/css/1313-mockingbird-lane');

body {

  background-image: url(/imagenProyecto/verde10.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}


#encabezado {
  padding-bottom: 30px;
}

#letraMunster {

  font-family: '1313 MockingbiRd Lane', sans-serif;
  font-size: 70px;
  line-height: 28px;
  margin-top: 6%;
  color: #700d0d;
  /*text-shadow: 4px 4px 5px gold;*/
  text-shadow: 1px 1px 3px rgba(181, 191, 175, 0.5),
    4px 4px 5px rgba(201, 234, 14, 0.8);
  margin-bottom: 70px;
  opacity: 0;
  transform: translateY(-100px);
  animation: entrar-desde-arriba 0.4s ease-out forwards;

}

@keyframes entrar-desde-arriba {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}




#letraMunster-enlace {
  text-decoration: none;

}

#letraMunster:hover {
  /* border: transparent; */
  color: #034c04;
  cursor: pointer;
}

#botonArriba {
  width: 70px;
  height: 55px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 50;
  padding: 5px;
  position: fixed;

  color: #700d0d;

}


#botonArriba:hover {
  border-style: none;
  width: 20x;
  height: 40px;

}


.historia {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  background-color: rgba(0, 128, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 60px;
  max-width: 1400px;
  margin: 60px 80px;
  line-height: 1.6;

}

.historia h2 {
  font-family: '1313 MockingbiRd Lane', sans-serif;
  font-size: 70px;
  color: #700d0d;
  /*text-shadow: 4px 4px 5px gold;*/
  text-shadow: 1px 1px 3px rgba(181, 191, 175, 0.5),
    4px 4px 5px rgba(201, 234, 14, 0.8);
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
}

.historia p {
  margin-top: 0px;
  font-family: 'comic sans ms', cursive, sans-serif;
  font-size: 1.2em;
  text-align: justify;


}


.historia img {
  width: 530px;
  border-radius: 0px;
  box-shadow: 10px 10px 10px black;
  border: groove 30px;
  border-image-source: url('/imagenProyecto/tele12.jpg');
  border-image-slice: 100;
  border-image-width: 70px;
  border-image-repeat: round;


}

.historia2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  background-color: rgba(0, 128, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 60px;
  max-width: 1400px;
  margin: 60px 80px;
  line-height: 1.6;

}

.historia2 img {
  width: 495px;
  border-radius: 0px;
  box-shadow: 10px 10px 10px black;
  border: groove 30px;
  border-image-source: url('/imagenProyecto/tele12.jpg');
  border-image-slice: 100;
  border-image-width: 70px;
  border-image-repeat: round;

}

.historia2P {
  margin-top: 20px;
  font-family: 'comic sans ms', cursive, sans-serif;
  font-size: 1.2em;
  text-align: justify;

}


.historia3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  background-color: rgba(0, 128, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 60px;
  max-width: 1400px;
  margin: 60px 80px;
  line-height: 1.6;
}

.historia3 h2 {
  font-family: '1313 MockingbiRd Lane', sans-serif;
  font-size: 70px;
  color: #700d0d;
  /*text-shadow: 4px 4px 5px gold;*/
  text-shadow: 1px 1px 3px rgba(181, 191, 175, 0.5),
    4px 4px 5px rgba(201, 234, 14, 0.8);
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
}

.historia3 p {
  margin-top: 0px;
  font-family: 'comic sans ms', cursive, sans-serif;
  font-size: 1.2em;
  text-align: justify;


}


.historia3 img {
  width: 495px;
  border-radius: 0px;
  box-shadow: 10px 10px 10px black;
  border: groove 30px;
  border-image-source: url('/imagenProyecto/tele12.jpg');
  border-image-slice: 100;
  border-image-width: 70px;
  border-image-repeat: round;


}

.historia4 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  background-color: rgba(0, 128, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 60px;
  max-width: 1400px;
  margin: 60px 80px;
  line-height: 1.6;

}

.historia4 img{
   width: 495px;
  border-radius: 0px;
  box-shadow: 10px 10px 10px black;
  border: groove 30px;
  border-image-source: url('/imagenProyecto/tele12.jpg');
  border-image-slice: 100;
  border-image-width: 70px;
  border-image-repeat: round;
}

.historia4P {
   margin-top: 20px;
  font-family: 'comic sans ms', cursive, sans-serif;
  font-size: 1.2em;
  text-align: justify; 
}

.caja5-6{
  display: flex;
  gap: 30px;
  padding: 20px;
  

}
  

.historia5{
  display: flex; 
  padding: 20px;
  background-color: rgba(0, 128, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  width: 48%;
  margin-left: 60px;


}

.historia5 img{
  width: 350px;
  border-radius: 0px;
  box-shadow: 10px 10px 10px black;
  border: groove 30px;
  border-image-source: url('/imagenProyecto/tele12.jpg');
  border-image-slice: 100;
  border-image-width: 70px;
  border-image-repeat: round;
  margin:15px;
  
}


.historia5 h2 {
  font-family: '1313 MockingbiRd Lane', sans-serif;
  font-size: 70px;
  color: #700d0d;
  /*text-shadow: 4px 4px 5px gold;*/
  text-shadow: 1px 1px 3px rgba(181, 191, 175, 0.5),
    4px 4px 5px rgba(201, 234, 14, 0.8);
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
}
.historia5P{
  margin-top: 20px;
  font-family: 'comic sans ms', cursive, sans-serif;
  font-size: 1.2em;
  text-align: justify;
  display: flex; /* Habilita Flexbox */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  flex-direction: column;

}
  

.historia6{
  display: flex; 
  padding: 20px;
  background-color: rgba(0, 128, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  width: 48%;
  margin-right: 60px;

}


.historia6 img{
  width: 350px;
  border-radius: 0px;
  box-shadow: 10px 10px 10px black;
  border: groove 30px;
  border-image-source: url('/imagenProyecto/tele12.jpg');
  border-image-slice: 100;
  border-image-width: 70px;
  border-image-repeat: round;
  margin:15px;

}

.historia6P{
   margin-top: 20px;
  font-family: 'comic sans ms', cursive, sans-serif;
  font-size: 1.2em;
  text-align: justify;
  display: flex; /* Habilita Flexbox */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  flex-direction: column;
}