body{
    padding: 0;
    margin: 0;
}

nav {
    position: sticky;
    top:0;
    border-bottom: 1x groove green;
    background:transparent;
    background-color: rgba(0, 128, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
}

#menu {
    display: none;
}

nav svg {
    width: 30px;
    height: 30px;
}

.menu-desplegable {
    display: none;
}

input:checked~.menu-desplegable {
    display: block;
    text-align: center;
}

nav a img {
    width: 60%;
   
}

ul.menu-desplegable {
    list-style: none;
    padding: 0;
    font-family:'1313 MockingbiRd Lane', sans-serif;
    font-size:x-large;
}

ul.menu-desplegable li {
    padding: 0.5em;
}

ul.menu-desplegable a {
    text-decoration: none;
    text-transform: uppercase;
    color:#700d0d;
    font-size: 1.5em;
    padding: 0.2em 0.4em;
    text-shadow: 1px 1px 3px rgba(181, 191, 175, 0.5),
               4px 4px 5px rgba(201, 234, 14, 0.8);    

    
}

ul.menu-desplegable a:hover {
    border: transparent;
    /*color: rgb(168, 159, 247);*/
    text-decoration: none;
    color:#075408;
}

@media screen and (min-width:1000px) {
    nav input {
        display: none;
    }

    nav label {
        display: none;

    }

    ul.menu-desplegable {
        display: flex;
        gap: 50px;
    }

    a.menu-desplegable {
        display: block;
    }

    a.menu-desplegable img {
        width: 150px;
        
    }

    nav {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
         
        
        
    }

}