@import url('https://fonts.cdnfonts.com/css/1313-mockingbird-lane');

body {

  background-image: url(/imagenProyecto/verde10.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}


#encabezado {
  padding-bottom: 30px;
}

#letraMunster {

  font-family: '1313 MockingbiRd Lane', sans-serif;
  font-size: 70px;
  line-height: 28px;
  margin-top: 6%;
  color: #700d0d;
  /*text-shadow: 4px 4px 5px gold;*/
  text-shadow: 1px 1px 3px rgba(181, 191, 175, 0.5),
    4px 4px 5px rgba(201, 234, 14, 0.8);
  margin-bottom: 70px;
  opacity: 0;
  transform: translateY(-100px);
  animation: entrar-desde-arriba 0.4s ease-out forwards;

}

@keyframes entrar-desde-arriba {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#letraMunster-enlace {
  text-decoration: none;

}

#letraMunster:hover {
  /* border: transparent; */
  color: #034c04;
  cursor: pointer;
}

#botonArriba {
  width: 70px;
  height: 55px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 50;
  padding: 5px;
  position: fixed;

  color: #700d0d;

}


#botonArriba:hover {
  border-style: none;
  width: 20x;
  height: 40px;

}

main {
  max-width: 1300px;
  justify-content: center;
  padding: 60px 40px;
}

.galeriaPersonajes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

}

.personaje {
  position: relative;
  width: 400px;
  height: 500px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.personaje:hover{
  transform: translateY(-9px) scale(1.05);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
}

.personaje img.actor {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5 ease;
  display: block;
}

.personaje img.personaje-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5 ease;
}

.personaje .nombre {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: '1313 MockingbiRd Lane', sans-serif;
  font-size: 4.6em;
  color: #700d0d;
  /*text-shadow: 4px 4px 5px gold;*/
  text-shadow: 1px 1px 3px rgba(181, 191, 175, 0.5),
    4px 4px 5px rgba(201, 234, 14, 0.8);
  opacity: 1;
  transition: opacity 0.5s ease;

}

.personaje .nombre-hover {
  position: absolute;
    font-family: '1313 MockingbiRd Lane', sans-serif;
  font-size: 4.6em;
  color: #700d0d;
  /*text-shadow: 4px 4px 5px gold;*/
  text-shadow: 1px 1px 3px rgba(181, 191, 175, 0.5),
    4px 4px 5px rgba(201, 234, 14, 0.8);
  bottom: 10px;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.personaje:hover img.actor{
  filter: grayscale(0%);

}

.personaje:hover img.personaje-hover{
  opacity: 1;
}

.personaje:hover .nombre{
  opacity:0;
}

.personaje:hover .nombre-hover{
  opacity: 1;
}