@import url('https://fonts.cdnfonts.com/css/1313-mockingbird-lane');

body {


  background-image: url(/imagenProyecto/verde10.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

#encabezado {

  padding-bottom: 30px;

}

#letraMunster {

  font-family: '1313 MockingbiRd Lane', sans-serif;
  font-size: 50px;
  line-height: 24px;
  margin-top: 6%;
  color: #700d0d;
  /*text-shadow: 4px 4px 5px gold;*/
  text-shadow: 1px 1px 3px rgba(181, 191, 175, 0.5),
    4px 4px 5px rgba(201, 234, 14, 0.8);

}


#letraMunster-enlace {
  text-decoration: none;

}

#letraMunster:hover {

  /* border: transparent; */
  color: #034c04;
  cursor: pointer;

}

.imagenportada-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 70px;



}

.imagenportada-container img {
  max-width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 10px 10px 100px rgb(29, 28, 21);
  filter: drop-shadow(5px 5px 10px rgba rgb(24, 99, 5));
  border-width: 30px;
  margin: 5px;
  border-style: double;
  border-color: rgb(38, 36, 27);
  border-image-source: url('/imagenProyecto/tele12.jpg');
  border-image-slice: 70;
  border-image-width: 40px;
  border-image-repeat: round;




}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;


}


.gallery-img {
  max-width: 500px;
  height: 500px;
  object-fit: fill;
  border-width: 16px;
  border-radius: 9em;
  border: groove 30px;
  border-image-source: url('/imagenProyecto/tele12.jpg');
  border-image-slice: 100;
  border-image-width: 70px;
  border-image-repeat: round;


}

.gallery-item {
  border-radius: 9em;
  overflow: hidden;
  margin: 20px;
  margin-bottom: 70px;
}

#botonArriba{
  width: 40px;
  height: 60px;
  position: fixed; 
  bottom: 30px;
  right: 40px;
  border-radius:50;
  padding: 5px;
  position: fixed;
 
  color:#700d0d;
 
}




#botonArriba:hover {
  border-style: none;
  width: 20x;
  height: 40px;

}